<a href="subjects">Materias</a>
<a href="teachers">Profesores</a>
<a href="students">Estudiante</a>
<a href="enrollments">Matriculas</a>
<a href="homeworks">Tareas</a>
<a href="answers">Respuestas</a>