// Place all the styles related to the pilots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin: 0;
	padding: 0;
}
table{
	margin-top: 15px;
	min-width: 100%;
}
th, td{
	border: 1px solid black;
	text-align:center; 
}
td{
}