<h1>Todos los estudiantes</h1>
<%= link_to "Nueva estudiante", new_student_path %>
<ul>
<% @student.each do |t| %>
	<li>
		<%= t.name %>
		<%= link_to "Eliminar", teacher_path(t) , method: :delete, data: { confirm: "Sure?"} %>
		<%= link_to "Editar", edit_student_path(t)%>
	</li>
<% end %>
</ul>